@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    padding-right: 0!important;
}

html{
    overflow-x: hidden;
}
/*contact-popup*/
.contact-modal{
 /*transition: all 1500ms cubic-bezier(0.335, 0.01, 0.03, 1.36);    */
}
.contact-form-popup {
    font-family: 'Raleway','arial';
    width: 720px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 25px 40px;
    z-index: 1000;
    transition: all 1500ms cubic-bezier(0.335, 0.01, 0.03, 1.36);
    overflow: hidden;
}
/*.hide {*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/

.modal.fade .modal-dialog {
    transition: none;
        /*transition: transform .3s ease-out;*/
}

.contact-form-popup .popup-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.contact-form-popup .close-btn {
    font-family: 'Raleway','arial';
    position: absolute;
    right: 42px;
    line-height: 1;
    top: 20px;
    color: #222;
    display: inline-flex;
    font-size: 18px;
    cursor: pointer;
}
.contact-form-popup .title {
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
}
.contact-form-popup p {
    font-size: 14px;
    text-align: justify;
    color: #444;
    line-height: 1.867;
}

.contact-form-popup form {
    margin: 0 -10px;
}
.contact-form-popup form input::placeholder{
    color: #000;
}
.contact-form-popup form input, .contact-form-popup form select {
    font-size: 14px;
    color: #000000;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    background-color: rgba(235, 235, 235, 0.9);
    background-image: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    height: 45px;
    padding: 0 1em;
    margin: 0 10px 20px;
}
.contact-form-popup .copyright {
    font-size: 12px;
    color: #aaaaaa;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    display: flex;
    margin-right: 10px;
}

.contact-form-popup .submit-btn {
    font-family: 'Raleway','arial';
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    background-color: rgba(25, 90, 255, 1);
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(25, 90, 255, 1);
    border-radius: 0px;
    box-shadow: 1px 1px 15px -6px #202020;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 45px;
    margin-right: 10px;
}

.contact-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1500ms cubic-bezier(0.335, 0.01, 0.03, 1.36);
    z-index: 999;
}

.contact-form-popup .absolute-element{
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 40px;
    height: 45px;
    background-color: rgba(254,229,166,1);
}


/*privacy policy*/
.privacy-policy{
    padding:40px 0px  162px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #444;
    line-height: 1.867;
}
.privacy-policy .breadcrump-links ul li a{
text-decoration: none;
color: #afafaf;
font-weight: 400;
font-size: 14.2px;
letter-spacing: 1px;
 font-family: 'Open Sans', sans-serif;
}
.privacy-policy .breadcrump-links ul li{
    color: #afafaf;
    font-weight: 400;
    font-size:14px;
    letter-spacing: 1px;
    margin-right: 9px;
     font-family: 'Open Sans', sans-serif;
}
.privacy-policy .breadcrump-links ul li a:hover{
   color:#FFAE02;
}


.privacy-policy .breadcrump-links{
    border-bottom: 1px solid rgba(0,0,0,.125);
    width: 100%;
}


.privacy-policy .both-section{
       padding: 32px 0px;
}
.privacy-policy .quick-links{
    background-color: whitesmoke;
    padding: 34px 30px;
}
.privacy-policy .quick-links ul li{
       border: 1.2px solid rgba(0,0,0,.125);
    background-color: white;
    /*padding: 6px 15px;*/
    margin-top: 20px;
}
.privacy-policy .quick-links ul li a{
     text-decoration: none;
    font-size: 14px;
    opacity: .9;
    letter-spacing: .5px;
    color: #252525;
font-weight: 500;
    padding: 6px 15px;
    display:block;
     font-family: 'Open Sans', sans-serif;
}
.privacy-policy .quick-links ul li a:hover,
.privacy-policy .quick-links ul li.active a{
    color:white;
}
.privacy-policy .quick-links ul li:hover,
.privacy-policy .quick-links ul li.active{
    background-color:#ff8a00;
    color:white;
    border:1.2px solid #ff8a00;
}
.privacy-policy .quick-links ul li:hover a,
.privacy-policy .quick-links ul li.active a{
    color:white;
}

.privacy-policy .card-body {
    padding: 40PX 20PX;
}
.privacy-policy .card-title {
    margin-bottom: .75rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 2%;
        font-size: 20px;
        letter-spacing:2px;
}

.privacy-policy .card-text{
    line-height: 1.8em;
    font-size: 15px;
    opacity: .8;
    letter-spacing: .5px;
     padding-top: 10px;
      font-family: 'Open Sans', sans-serif;
}
.privacy-policy .last-text{
    padding-bottom: 40px;
    
}
.privacy-policy .quick-links h3{
        padding-bottom: 10px;
        font-size: 24px;
    font-weight: 500;
    letter-spacing:2px;
     font-family: 'Open Sans', sans-serif;
}
.privacy-policy .card{
    border-radius:0px;
}

.shipping-return h5{
        margin-bottom: .75rem;
    font-size: 17px;
    letter-spacing: 0.2px;
    padding-top: 15px;
    text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
}
.shipping-return .privacy-policy .card-text {
    padding-top: 10px;
}
.terms-highlight-p{
    margin-top:20px;
}
.privacy-li-afterp{
 padding-left: 1.5rem   
}

@media only screen and (max-width: 767px){
    .privacy-policy .quick-links h3 {
    font-size: 22px;
}
.privacy-policy .quick-links {
    background-color: whitesmoke;
    padding: 30px 15px;
    margin-bottom: 30px;
}
.accordion{
    font-size: 14px;
    padding: 10px 5px;
}
.privacy-policy .card-title {
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-bottom: 8px;
}
.privacy-policy .last-text {
     padding-bottom: 0px; 
}
.privacy-policy .last-text{
    padding-bottom: 0px;
    
}
.shipping-return .privacy-policy .breadcrump-links ul li a {
    text-decoration: none;
    font-size: 13.2px;
}
.shipping-return .privacy-policy .breadcrump-links ul li {
    font-size: 13px;
}
.shipping-return h5 {
    margin-bottom: .75rem;
    font-size: 14px;
    letter-spacing: 0.2px;
    padding-top: 30px;
}
.shipping-return .privacy-policy .last-text {
    padding-bottom: 0px;
}
}